<section>
    <div class="overlay">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-6 text-center">
                    <button (click)="login()" class="btn btn__style">
                        <span class="logo--wrapper">
                            <img src="../../assets/google-icon.svg" alt="google provider logo">
                        </span> 
                        <span style="color: white;">
                           &nbsp; Login with Google
                        </span> 
                    </button>
                
                </div>
            </div>
        </div>
    </div>
</section>
